body {
  font-family: "PT Sans Narrow Bold", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  line-height: 24pt;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  	overflow: hidden;
  	clip: rect(0 0 0 0);
  	height: 1px;
  	width: 1px;
  	margin: -1px;
  	padding: 0;
  	border: 0;
}

h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  line-height: 42pt;
}
